@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #000;
}

* {
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea {
  background: transparent;
}

::-webkit-scrollbar { display: none; }

@layer components {
  .form-inp {
    @apply border border-neutral-700 rounded-lg outline-none hover:border-neutral-500 focus:border-white focus:ring-4 ring-white/30 transition;
  }
  .nav-item {
    @apply hover:bg-white/10 transition-colors rounded-full md:py-3 p-3 flex gap-5 items-center md:pl-3 text-xl md:pr-5;
  }
}

details > summary::-webkit-details-marker {
  display: none;
}